.select-wrapper {
  outline-style: solid;
  outline-width: 0;
  outline-offset: -2px;

  &:has(select:focus), &:has(select:focus-visible) {
    outline-width: 2px;
  }
}

.select-wrapper select option {
  background-color: #EDEEEF; // цвет фона
  color: #02303A; // цвет текста
}

.select-wrapper {
  background-color: red;
  color: red;
}


select.web {
  background-color: yellow;
}

select {
  background-color: blue !important;
}

