.select-wrapper {
    outline-style: solid;
    outline-width: 0;
    outline-offset: -2px;
}

/* :has() пока поддерживается только в современных браузерах */
.select-wrapper:has(select:focus),
.select-wrapper:has(select:focus-visible) {
    outline-width: 2px;
}

/* стили для option внутри select */
.select-wrapper select option {
    background-color: #EDEEEF; /* цвет фона */
    color: #02303A; /* цвет текста */
}
